<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Armas</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Ingresos</h1>
        <ul>
            <li><a href="/Index.html">Inicio</a></li>
            <li><a href="/pages/Carga.html">Carga</a></li>
            <li><a href="/pages/Ingresos.html">Ingresos</a></li>
            <li><a href="/pages/Egresos.html">Egresos</a></li>
            <li><a href="/pages/Descarga.html">Descarga</a></li>
            <li><a href="/pages/Registro.html">Registro Fusiles</a></li>
        </ul>
    </header>

    <div id="formulario 1">
        <form action="" method="">

            <fieldset>
                <legend>Datos del Armamento</legend>
                <label for="tipo"><b>Tipo de movimiento</b></label>
                <select name="tipo" id="tipo" size="1">
                    <option value="Carga">Provisión a Sala de Armas</option>
                    <option value="Entrega">Entrega a Usuario</option>
                    <option value="Recepción">Recepción de Usuario</option>
                    <option value="Descarga">Descargo de Sala de Armas</option>
                </select>
                <br><br>
                <label for="motivo"><b>Motivo</b></label>
                    <input type="checkbox" name="motivo" id="motivo" value="Servicio">Servicio
                    <input type="checkbox" name="motivo" id="motivo" value="Terreno">Salida al Terreno
                    <input type="checkbox" name="motivo" id="motivo" value="Instrucción">Instrucción
                    <input type="checkbox" name="motivo" id="motivo" value="Ceremonial">Ceremonial
                    <input type="checkbox" name="motivo" id="motivo" value="Tiro">Tiro
                    <input type="checkbox" name="motivo" id="motivo" value="Mantenimiento">Mantenimiento
                <br><br>
                <label for="fuego"><b>Consumo de Munición</b></label> <br>
                <input type="radio" value="1" name="fuego">Sí
                <input type="radio" value="2" name="fuego">No
                <br><br>
                <label for="evaluacion">Evaluación del tiro</label>
                <input type="color" name="evaluacion" id="evaluacion">
                <br><br>
                <label for="observaciones"><b>Observaciones</b></label><br>
                <textarea name="observaciones" id="observaciones" cols="30" rows="5" placeholder="Novedades detectadas o documentación del movimiento"></textarea>
            </fieldset>
            <input type="submit" value="Enviar datos"> <br><br>
            <input type="reset" value="Borrar">
        </form>
    </div>

</body>
</html>