<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Armas</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Registro de Fusiles</h1>
        <ul>
            <li><a href="/Index.html">Inicio</a></li>
            <li><a href="/pages/Carga.html">Carga</a></li>
            <li><a href="/pages/Ingresos.html">Ingresos</a></li>
            <li><a href="/pages/Egresos.html">Egresos</a></li>
            <li><a href="/pages/Descarga.html">Descarga</a></li>
            <li><a href="/pages/Registro.html">Registro Fusiles</a></li>
        </ul>
    </header>

    <div>
        <img src="../img/FAL.jpg" alt="Esto es una imagen de FAL">
        <img src="" alt="">
    </div>
    
    <div id="formulario 1">
        <form action="" method="">
            <fieldset>
                <legend><b>Datos de usuario</b></legend>
                <label for="apellido" name="apellido" id="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" required>
                <label for="nombre" name="nombre" id="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" required> <br><br>
                <label for="dni">DNI</label>
                <input type="number" name="dni" id="dni" min="1000000">
                <label for="tramite">N° de trámite</label>
                <input type="password" name="tramite" id="tramite"> <br><br>
                <label for="fecNac">Fecha de Nacimiento</label>
                <input type="date" name="fecNAc" id="fecNAc">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email"> <br><br>
                <label for="adjuntar">Adjuntar Foto</label>
                <input type="file" name="adjuntar" id="adjuntar">
            </fieldset><br><br>
            <fieldset>
                <legend>Datos del Armamento</legend>
                <label for="movimiento"><b>Movimiento</b></label>
                <select name="movimiento" id="movimiento" size="1">
                    <option value="1">Provisión a Sala de Armas</option>
                    <option value="2">Entrega a Usuario</option>
                    <option value="3">Recepción de Usuario</option>
                    <option value="4">Descargo de Sala de Armas</option>
                </select>
                <br><br>
                <label for="uso"><b>Uso</b></label>
                    <input type="checkbox" name="uso" id="uso" value="1">Servicio
                    <input type="checkbox" name="uso" id="uso" value="2">Salida al Terreno
                    <input type="checkbox" name="uso" id="uso" value="3">Instrucción
                    <input type="checkbox" name="uso" id="uso" value="4">Formación
                    <input type="checkbox" name="uso" id="uso" value="4">Tiro
                <br><br>
                <label for="fuego"><b>Consumo de Munición</b></label> <br>
                <input type="radio" value="1" name="fuego">Sí
                <input type="radio" value="2" name="fuego">No
                <br><br>
                <label for="evaluacion">Evaluación del tiro</label>
                <input type="color" name="evaluacion" id="evaluacion">
                <br><br>
                <label for="observaciones"><b>Observaciones</b></label><br>
                <textarea name="observaciones" id="observaciones" cols="30" rows="5" placeholder="Novedades detectadas o documentación del movimiento"></textarea>
            </fieldset>
            <input type="submit" value="Enviar datos"> <br><br>
            <input type="reset" value="Borrar">
        </form>

    </div>

    <footer>
        
    </footer>
</body>
</html>